<ion-view title="Cleansuit">
	<ion-content>

		<ion-list can-swipe="true" show-delete="false" show-reorder="false">
			<div class="productos lista">
				<ion-item ng-repeat="producto in productos track by $index"
				  href="#/app/productos/{{$index}}"
				  class="item item-thumbnail-left item-icon-right item-text-wrap" >

					<img ng-src="img/producto.png" class="badge-container" ng-cloack/>
					<span ng-if="cantidadEnCarrito(producto.id) > 0" class="badge badge-dark icon-badge">
						{{cantidadEnCarrito(producto.id)}}
					</span>
					<h2>{{::producto.nombre}}</h2>
					<p>{{::producto.resumen}}</p>
					<h3>{{::producto.precio | currency : "$ " : 0}}</h3>
					<i class="icon ico-flechader assertive"></i>
		<div class="productos lista">
			<ion-item ng-repeat="producto in productos track by $index"
			  href="#/app/productos/{{$index}}"
			  class="item item-thumbnail-left item-icon-right item-text-wrap" >

				<img ng-src="img/producto.png" class="badge-container" ng-cloack/>
				<span ng-if="cantidadEnCarrito(producto.id) > 0" class="badge badge-dark icon-badge">
				  {{cantidadEnCarrito(producto.id)}}
				</span>
				<h2>{{::producto.nombre}}</h2>
				<p >{{::producto.resumen}}</p>
				<h3>{{::producto.precio | currency : "$ " : 0}}</h3>
				<i class="icon ico-flechader assertive"></i>


				<ion-option-button class="positive" ng-click="disminuirProducto(producto)">
				  <i class="icon ion-minus-circled"></i>
				</ion-option-button>

				<ion-option-button >
				  <div class="row">
					<div class="col text-center col-center fondo-gris">
					  {{cantidadEnCarrito(producto.id)}}
					</div>
				  </div>
				</ion-option-button>

				<ion-option-button class="positive" ng-click="aumentarProducto(producto)">
				  <i class="icon ion-plus-circled"></i>
				</ion-option-button>
			</ion-item> 
			</div>         
		</ion-list>

	</ion-content>

   <footer-carrito carrito="carrito"></footer-carrito> 

</ion-view>
