<ion-view title="Cleansuit">
	<ion-content>
 
 		<div clas="card" ng-show="productos.length == 0">
			<div class="item item-text-wrap">
				No hay productos para mostrar. <a ng-click="cargarProductos()">Cargar</a>
			</div>
		</div>
		
		<ion-list can-swipe="true" show-delete="false" show-reorder="false">
			<div class="productos lista">
				<ion-item class="item-thumbnail-left item-icon-right item-text-wrap" ng-repeat="producto in productos track by $index" href="#/app/productos/{{$index}}">

					<div class="imagen">
						<img ng-src="{{producto.foto_url}}" class="badge-container" ng-cloack/>
						<span ng-if="cantidadEnCarrito(producto.id) > 0" class="badge badge-dark icon-badge">
							{{cantidadEnCarrito(producto.id)}}
						</span>
					</div>
										
					<h2>{{::producto.nombre}}</h2>
					<p>{{::producto.desc_corta}}</p>
					<h3>{{::producto.precio | currency : "$ " : 0}}</h3>
					<i class="icon ico-flechader assertive"></i>

					<ion-option-button class="light text-center mas" ng-click="aumentarProducto(producto)">
						<i class="icon ico-mas"></i>
					</ion-option-button>

					<ion-option-button class="light">
						<div class="col text-center col-center">
						  {{cantidadEnCarrito(producto.id)}}
						</div>
					</ion-option-button>

					<ion-option-button class="light text-center menos" ng-click="disminuirProducto(producto)">
						<i class="icon ico-menos"></i>
					</ion-option-button>
				</ion-item>
			</div>         
		</ion-list>

		

	</ion-content>

   <footer-carrito carrito="carrito"></footer-carrito> 

</ion-view>
