<ion-view >
  <ion-content class="has-subheader " overflow-scroll="false" padding="true" scroll="true"
        ng-class="{'has-footer': carrito.items.length > 0}">
    
    <div class="card" layout="column" layout-align="center">
        <div layout="row" layout-align="center center">
          <img ng-src="http://lorempixel.com/700/200" />
        </div>
        <div layout="row" layout-align="center center">
            <h1>{{producto.titulo}}</h1>
        </div>
        
        <div layout="row" layout-align="start start">
            <p>{{producto.descripcion}}</p>    
        </div>
        
        <div layout="row" layout-align="start start">
            <h1>Titulo Principal</h1>
            <h2>Titulo </h2>
            <h3>Subtitulo</h3>
            <h4>Titulo 4</h4>
            <h5>Titulo 5</h5>
            <h6>Titulo 6</h6>
        </div>
    </div>   

    <div class="row row-center text-center">
        <div class="col col-30"></div>
        <div class="col col-10 fuente-2" >
            <i ng-click="disminuirProducto(producto)" class="icon ion-minus-circled positive"></i>
        </div>
        <div class="col col-10 col-center fondo-gris-claro">{{carrito.get(producto.id).cantidad || 0}}</div>
        <div class="col col-10 fuente-2">
            <i ng-click="aumentarProducto(producto)" class="icon ion-plus-circled positive "></i>
        </div>
        <div class="col col-30"></div>
    </div>

    <elemento-centrado>
        <button class="button button-positive" ui-sref="app.productos">Regresar al Catálogo de Productos</button>
    </elemento-centrado>

  </ion-content>

  <footer-carrito carrito="carrito"></footer-carrito> 

</ion-view>
