<ion-view title="Cleansuit">
  <ion-content overflow-scroll="true" padding="true" scroll="true"
        ng-class="{'has-footer': carrito.contProductos + carrito.contServicios > 0}">
    
    <ion-list can-swipe="false" show-delete="false" show-reorder="false">
        <div class="categorias lista">
        	<ion-item collection-repeat="categoria in categorias track by $index" item-height="" item-width="95%"
        				href="#/app/servicios/{{$index}}"
        				class="item-icon-right item-text-wrap" >
         			<h2>{{::categoria.nombre}}</h2>
        			<p>{{::categoria.resumen}}</p>
        		  <i class="icon ico-flechader assertive" ></i>
        	</ion-item>
        </div>
    </ion-list>

  </ion-content>
  
  <footer-carrito carrito="carrito"></footer-carrito> 

</ion-view>
