<ion-view title="Cleansuit">
  <ion-content>

    <div class="vista" layout="column" layout-align="center">
        <h1>{{::servicio.nombre}}</h1>
        <p>{{::servicio.resumen}}</p>

        <div class="contenedor">
            <h3>{{::servicio.precio | currency : "$ " : 0}}</h3>
            <div class="contador">
                <i ng-click="aumentarServicio(servicio)" class="icon ico-mas"></i>
                <span>{{cantidadEnCarrito(servicio.id)}}</span>
                <i ng-click="disminuirServicio(servicio)" class="icon ico-menos"></i>
            </div>
        </div>
        
        <div layout="row" layout-align="start start" class="descripcion">
            <h3>Detalles</h3>
            <p>{{::servicio.descripcion}}</p>    
        </div>
    </div>

    <elemento-centrado>
        <button class="button button-positive" ng-click="regresarCatalogo()">Regresar al Catálogo de Servicios</button>
    </elemento-centrado>

  </ion-content>

  <footer-carrito carrito="carrito"></footer-carrito> 

</ion-view>
