<ion-view title="Cleansuit">
  	<ion-content>

  		<div clas="card" ng-show="servicios.length == 0">
			<div class="item item-text-wrap">
				No hay Servicios para mostrar. <a ng-click="cargarServicios()">Cargar</a>
			</div>
		</div>

		<ion-list>
			<div class="categorias lista">
				<ion-item class="item-icon-right item-text-wrap" ng-repeat="servicio in servicios track by $index" 
					ui-sref="app.subservicios({ 'indexServicio': {{$index}} })">
					<h2>{{::servicio.nombre}}</h2> 
					<p>{{::servicio.descripcion}}</p>
					<i class="icon ico-flechader assertive" ></i>
				</ion-item>
			</div>
		</ion-list>

  	</ion-content>
  
  	<footer-carrito carrito="carrito"></footer-carrito> 
</ion-view>
