body {
	font-family: 'fira_sansregular';
	font-size: 14px;
}
img.logo {
	display: block;
	width: 70%;
	max-width: 295px;
	margin: 30px auto;
	z-index: 10;
}
div.tex-center {
	h2 {
		font-weight: lighter;
		color: #666;
		font-size: 2.3em;
		text-align: center;
		margin: 0;
	}
}
.burbujas {
	height: 84px;
	background: url('../img/burbujas.png') repeat-x;
	z-index: 5;
}
.bar-footer {
	display: inline-table;
	padding: 0px;
	font-family: 'fira_sansmedium';
	.burbujas {		
		margin-top: -42px;
	}
	.button {
		border-radius: 0px;
		font-size: 1.375em;
		margin: 0px;
		padding: 20px 0px;
		.ico-facebook:before {
			font-size: 30px;
			margin: 0 10px 0 0;
		}
	}
	.button-positive { background-color: #2A4588; }
	.row {
		padding: 0;
		.col {
			padding: 2px 0 0 0;
			.button-calm { margin-right: 1px; }
			.button-balanced { margin-left: 1px; }
		}
	}
}
.row-center, .col-center {
	padding: 0;
}

$registro: #80A3CD;

.has-footer {
	position: relative;
	.formulario {
		width: 100%;
		position: fixed;
		bottom: 74px;
	}
	form.list {		
		background-color: $positive;
		padding-top: 38px;
		padding-bottom: 28px;
		input, label {
			background-color: $positive;
			border: none;
			color: $light;
			width: 80%;
			min-width: 270px;
			margin: 0 auto;
			padding: 0;
			font-family: 'fira_sansregular';
			padding-bottom: 10px;
		}
		input {
			border-bottom: 1px solid $light;
			width: 100%;
			font-size: 1.21em;
		}
		span {
			color: $registro;
			text-align: left;
			padding-bottom: 5px;
			font-size: 0.9em;
			text-transform: uppercase 
		}
		input::-webkit-input-placeholder { color: $registro; }		
		a {
			display: block;
			width: 180px;
			margin: 8px auto 25px;
			color: $light;
			text-decoration: none;
		}
		p {
			color: $light;
			text-align: center;
			margin-bottom: 20px;
		}
		h2 {
			text-align: center;
			color: $registro;
			font-size: 1.7em;
		}
	}
}
.menu {
	background-color: $calm;
}