body {
	font-family: 'fira_sansregular';
	font-size: 14px;
	background-color: $stable;
}
img.logo {
	display: block;
	width: 70%;
	max-width: 295px;
	margin: 30px auto;
	z-index: 10;
}
div.tex-center {
	h2 {
		font-weight: lighter;
		color: #666;
		font-size: 2.3em;
		text-align: center;
		margin: 0;
	}
}
.burbujas {
	height: 84px;
	background: url('../img/burbujas.png') repeat-x;
	z-index: 5;
}
.bar-footer {
	display: inline-table;
	padding: 0px;
	font-family: 'fira_sansmedium';
	.burbujas {
		margin-top: -42px;
	}
	.button {
		border-radius: 0px;
		font-size: 1.375em;
		margin: 0px;
		padding: 20px 0px;
		.ico-facebook:before {
			font-size: 30px;
			margin: 0 10px 0 0;
		}
	}
	.button-positive { background-color: #2A4588; }
	.row {
		padding: 0;
		.col {
			padding: 2px 0 0 0;
			.button-calm { margin-right: 1px; }
			.button-balanced { margin-left: 1px; }
		}
	}
}
.row-center, .col-center {
	padding: 0;
}

.bar .title.title-left {
	color: #004C9E
}

$registro: #80A3CD;

.has-footer {
	position: relative;
	.formulario {
		width: 100%;
		position: fixed;
		bottom: 74px;
	}
	form.list {		
		background-color: $positive;
		padding-top: 38px;
		padding-bottom: 28px;
		input, label {
			background-color: $positive;
			border: none;
			color: $light;
			width: 80%;
			min-width: 270px;
			margin: 0 auto;
			padding: 0;
			font-family: 'fira_sansregular';
			padding-bottom: 10px;
		}
		input {
			border-bottom: 1px solid $light;
			width: 100%;
			font-size: 1.21em;
		}
		span {
			color: $registro;
			text-align: left;
			padding-bottom: 5px;
			font-size: 0.9em;
			text-transform: uppercase 
		}
		input::-webkit-input-placeholder { color: $registro; }		
		a {
			display: block;
			width: 180px;
			margin: 8px auto 25px;
			color: $light;
			text-decoration: none;
		}
		p {
			color: $light;
			text-align: center;
			margin-bottom: 20px;
		}
		h2 {
			text-align: center;
			color: $registro;
			font-size: 1.67em;
		}
	}
}
.menu.scroll-content {
	background-color: $calm;
}
.menu {
	.item-complex .item-content {
		background-color: $calm;
		padding: 18px 15px 19px 16px;
		padding-left: 70px;
	}
	.item {		
		color: $light;
		background-color: $calm;
		border: none;
		a { font-family: 'fira_sansmedium'; }
		.icon {
			font-size: 1.55em;
		}
	}
	.item-complex.item-icon-left { padding-left: 25px; }
	.item-avatar {
		padding: 38px 16px 29px 16px;
		img:first-child {
			display: block;
			max-width: 62px;
			max-height: 62px;
			border: 2px solid #348800;
			left: 22px;
		}
		h2 {
			color: $light;
			font-family: 'fira_sansmedium';
			font-size: 1.1em;
			margin-left: 75px;
		}
	}
}
.scroll-content, .scroll.padding { background-color: $stable; }
.ico-flechader:before { font-size: 23px; }

p {
	color: #666;
	font-family: 'fira_sansregular';
}

.lista {
	padding-bottom: 60px;
	margin: 10px;
	.item {
		border: none;
		padding-bottom: 3px;
		background-color: $stable;
	}
	a{
		font-family: 'fira_sansmedium';
		h2 { color: #333; }
		h3{
			color: #76A900;
			font-size: 1.1em;
		}
	}
	.item-options {
		.light{
			background-color: #378413;
		}
		.button {
			padding: 0;
			color: $light;
			.icon {
				width: 47px;
				right: 0;
			}
			.icon:before {
				font-size: 47px;
			}
		}
		.button::after {
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			position: relative;
		}
	}
}

.productos {
	img {
		display: block;
		border: 1px solid #E9E9E9;
	}
	.item { min-height: 108px;	}
	.item-content > img:first-child {
		max-width: 76px;
		max-height: 76px;
		top: 50%;
		margin-top: -38px;
	}
}

.categorias {
	.item {	min-height: 74px; }
}
.servicios {
	.item { min-height: 96px;}
}
.vista {
	margin: 10px;
	box-shadow: 0 0 0;
	border-radius: 0px;
	background-color: $light;
	h1 {
		font-family: 'fira_sansmedium';
		text-align: center;
		color: #333;
		font-size: 1.6em;
		margin-top: 10px;
		margin-bottom: 3px;
		padding-top: 19px;
	}
	p { text-align: center; }
	.img {
		background-color: $stable;
		width: 100%;
		padding: 10px 0;
		text-align: center;
		margin-top: 17px;
		img {
			display: inline-block;
			max-height: 200px;
		}		
	}
	.contenedor {
		position: relative;
		background-color: #FBFBFB;
		padding: 15px 0;
		color: #2E7300;
		height: 79px;
		h3 {
			display: inline-block;
			position: absolute;
			left: 0;
			color: $light;
			background-color: #298CE8;
			font-family: 'fira_sansmedium';
			font-size: 2em;
			padding: 7px 19px;
		}
		.contador {
			position: absolute;
			right: 0;
			font-size: 2em;
			.icon { 
				display: inline-block;
				font-size: 49px;
			}
			.ico-mas { margin-right: 40px; }
			.ico-menos { margin-right: 10px; }
			span {
				position: absolute;
				top: 14px;
				left: 65px;
			}
		}
	}
	.descripcion {
		padding: 25px 25px 0;
		h3 {
			font-size: 100%;
			margin-bottom: 3px;
		}
		p {
			text-align: left;
			margin-bottom: 22px;
		}
	}
}
.bar { background-image: none; }
.carrito {
	color: $light;
	background-color: $calm;
	.button { padding: 10px 0px; }
	.icono { background-color: #378413; }
	.col.suma {
		font-family: 'fira_sansregular';
		font-size: 1.25em;
		padding-left: 23px;
		span { font-family: 'fira_sansmedium'; }
	}
}
.ico-carrito:before {
	color: $light;
	font-size: 27px !important;
}
/*.tab-nav{
	a {
		background-color: red;
	}

}
.tabs-striped.tabs-light .tab-item {
	color: #52B1ED;
}
.tabs-striped.tabs-light .tab-item.tab-item-active{
	color: $light;
	background-color: #52B1ED;
	border-color: #52B1ED;
}*/