<!--Controller: AppInicioCtrl-->

<ion-view hide-back-button="true" title="CleanSuit">
	<ion-content>

		<menu-tabs carrito="carrito" banderas="banderas"></menu-tabs>		

		<div clas="card" ng-show="promociones.length == 0">
			<div class="item item-text-wrap">
				No hay promociones aún para mostrar.
			</div>
		</div>

		<div class="bottom">
			<ion-list class="promociones">
				<ion-item class="item-image" ng-repeat="promocion in promociones" ui-sref="app.promociones-detalle({ 'indexPromocion': {{$index}} })">

					<div class="imagen">
						<img ng-src="{{promocion.url_imagen}}" ng-cloak/>
					</div>
					<h3>
						{{promocion.etiquetaDescuentos}}
						<i class="icon ico-flechader assertive"></i>
					</h3>
					
				</div>
			</div>
		</div>

	</ion-content>
	
	<footer-carrito carrito="carrito"></footer-carrito>
</ion-view>
