<!--Controller: AppInicioCtrl-->

<ion-view hide-back-button="true" title="CleanSuit">
	<ion-content>

		<menu-tabs carrito="carrito"></menu-tabs>
		

		<div clas="card" ng-show="promociones.length == 0">
			<div class="item item-text-wrap">
				No hay promociones aún para mostrar.
			</div>
		</div>

		<div class="list promocion" ng-repeat="promocion in promociones">

			<div class="item item-image" ui-sref="app.promociones-detalle({ 'indexPromocion': {{$index}} })">

				<div class="imagen">
					<img ng-src="{{promocion.url_imagen}}" ng-cloak/>
					<span class="sombra"></span>
				</div>				
				<h3>Descuento de {{promocion.descuento}}%</string></h3>
			</div>
		
		</div>	
	</ion-content>
	
	<footer-carrito carrito="carrito"></footer-carrito>
</ion-view>
