<ion-view >
	<ion-tabs class="tabs-light ">

		<ion-tab title="Promociones" href="#/app/inicio">
			<ion-nav-view name="panel-contenido"></ion-nav-view>
		</ion-tab>
		<ion-tab title="Servicios" href="#/app/categorias" badge="carrito.contServicios" badge-style="badge-dark">
			<ion-nav-view name="mis-categorias"></ion-nav-view>
		</ion-tab>
		<ion-tab title="Productos" href="#/app/productos" badge="carrito.contProductos">
			<ion-nav-view name="mis-productos"></ion-nav-view>
		</ion-tab>
		<ion-tab title="Carrito" href="#/app/carrito">
			<ion-nav-view name="mi-carrito"></ion-nav-view>
		</ion-tab>
	</ion-tabs>    
  </ion-view>