<ion-view title="CleanSuit" cache-view="false">
    <ion-content class="bottom perfil">
    	<div class="imagen"  ng-if="!usuario.fb">
			<img ng-src="{{usuario.url_foto || 'img/camara.png'}}" ng-click="subirFoto()"/>
		</div> 
		<form name="formPerfil" novalidate>
			<div class="list">
				<div class="item row">
					<div class="col">
						<label class="item-input item-stacked-label izq">
							<span class="input-label">Nombres y Apellidos</span>
							<input type="text" placeholder="su nombre" name="nombre" ng-model="usuario.nombre" pattern="(?=.*[a-zA-Z]).{1,100}" required>
						</label>
					</div>
				</div> 

				<!--
				<div class="item row">
					<div class="col">
						<label class="item-input item-stacked-label izq">
							<span class="input-label">Departamento</span>
							<input type="text" placeholder="departamento" name="departamento" ng-model="usuario.direccion.departamento" pattern="(?=.*[a-zA-Z]).{1,24}" required>
						</label>
					</div>

					<div class="col">
						<label class="item-input item-stacked-label der">
							<span class="input-label">Ciudad</span>
							<input type="text" placeholder="ciudad" name="ciudad" ng-model="usuario.direccion.ciudad" pattern="(?=.*[a-zA-Z]).{1,40}" required>
						</label>
					</div>
				</div>-->

				<div class="item row">
					<div class="col">
						<label class="item-input item-stacked-label">
							<span class="input-label item-icon-right">Dirección de Residencia</span>
							<input type="text" placeholder="dirección residencia" name="direccion" ng-model="usuario.direccion" pattern="(?![.\n])(?=.*[a-zA-Z]).{3,100}" required>
						</label>
					</div>
				</div>

				<div class="item row">
					<div class="col">
						<label class="item-input item-stacked-label">
							<span class="input-label item-icon-right">Teléfono de contacto</span>
							<input type="tel" placeholder="teléfono de contacto" name="telefono" ng-model="usuario.telefono" pattern="(?![.\n])(?=.*\d).{7,15}" required>
						</label>
					</div>
				</div>

				<div class="item row">
					<div class="col">
						<label class="item-input item-stacked-label">
							<span class="input-label item-icon-right">Correo Electrónico</span>
							<input type="email" placeholder="correo electrónico" name="correo" ng-model="usuario.correo" required>
						</label>
					</div>
				</div>

				<div class="item col">
					<div class="row item-icon-right">
						<label class="item-input item-stacked-label">
							<span class="input-label item-icon-right contrasena">Cambiar Contraseña</span>
						</label>
						<i class="icon ico-flechaabajo" ng-click="formData.mostrarCambiarContrasena = !formData.mostrarCambiarContrasena"></i>
					</div>
					<div class="row" ng-if="formData.mostrarCambiarContrasena">
						<label class="item-input item-stacked-label">
							<span class="input-label item-icon-right">Mínimo 6 caracteres, incluir numeros y caracteres.</span>
						</label>
					</div>
				</div>	

				<div class="item row" ng-if="formData.mostrarCambiarContrasena">
					<div class="col">
						<label class="item-input item-stacked-label">
							<span class="input-label">Nueva Contraseña</span>
							<input type="password" name="contrasena" placeholder="su nueva contraseña" ng-model="usuario.contrasena" pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[a-zA-Z]).*$" required>
						</label>
					</div>
				</div>

				<div class="item row" ng-if="formData.mostrarCambiarContrasena">
					<div class="col">
						<label class="item-input item-stacked-label">
							<span class="input-label">Confirmar Nueva Contraseña</span>
							<input type="password" name="repetirContrasena" placeholder="confirme su nueva contraseña" ng-model="usuario.repetirContrasena" required>
						</label>
					</div>
				</div>

				<!--
				<label class="item item-input item-stacked-label">
					<span ng-show="!formularioContrasena.$pristine && formularioContrasena.contrasena.$error.required">
						Escriba la nueva contraseña.
					</span>
				</label>
				<label class="item item-input item-stacked-label">
					<span ng-show="!formularioContrasena.confirmarContrasena.$pristine && formularioContrasena.confirmarContrasena.$error.required">
						Vuelva a escribir su nueva contraseña.
					</span>
				</label>
				<label class="item item-input item-stacked-label">
					<span ng-show="!formularioContrasena.contrasena.$pristine && formularioContrasena.contrasena.$invalid">
						La contraseña debe tener al menos 6 caracteres, incluyendo letras y numeros.
					</span> 
				</label>
				<label class="item item-input item-stacked-label">
					<span ng-show="!formularioContrasena.confirmarContrasena.$pristine && formularioContrasena.contrasena.$viewValue !== formularioContrasena.confirmarContrasena.$viewValue">
						Las contraseñas no coinciden.
					</span> 
				</label>
				-->
			</div> 
			
			<!-- watch -->
			<div ng-hide="true">
				{{formData.formValido = 
					(
						(formPerfil.nombre.$dirty && formPerfil.nombre.$valid)
						|| (formPerfil.direccion.$dirty && formPerfil.direccion.$valid)
						|| (formPerfil.telefono.$dirty && formPerfil.telefono.$valid)
						|| (formPerfil.correo.$dirty)
						|| usuario.data_foto
						|| (formPerfil.contrasena.$dirty 
							&& formPerfil.contrasena.$valid 
							&& (usuario.contrasena == usuario.repetirContrasena
							))
					) 
					&& (formPerfil.correo.$valid)
					}}
			</div>
		
		</form> 
    </ion-content>

    <div class="bar bar-footer">
    	<a ng-click="actualizar()" class="button button-calm button-full" 
    		ng-disabled="!formData.formValido"> 
    	Actualizar Perfil
		</a>
    </div>

</ion-view>
