<!--Controller: AppInicioCtrl-->

<ion-view hide-back-button="true" title="CleanSuit" hide-nav-bar="false">
  <ion-content overflow-scroll="true" padding="false" scroll="true"
        ng-class="{'has-footer': carrito.items.length > 0}" >
    
    <div class="list card" collection-repeat="promo in promociones">
      <div class="item item-image">
	    <img ng-src="img/promociones.png" ng-cloak/>
	  </div>
	  <div class="item item-divider item-text-wrap">
	    {{promo.descuento}}
	  </div>
	</div>
	
	<br>
	<br>

  </ion-content>

  <footer-carrito carrito="carrito"></footer-carrito>
</ion-view>
