<!--Controller: AppInicioCtrl-->

<ion-view hide-back-button="true">
  <ion-content class="has-subheader" overflow-scroll="true" padding="false" scroll="true"
        ng-class="{'has-footer': carrito.items.length > 0}" >
    
    <div class="card" collection-repeat="promo in promociones track by $index">
      <div class="item item-image">
	    <img ng-src="http://lorempixel.com/200/50" />
	  </div>
	  <div class="item item-divider item-text-wrap">
	    {{promo.descuento}}
	  </div>
	</div>
	
	<br>
	<br>

  </ion-content>

  <footer-carrito carrito="carrito"></footer-carrito>
</ion-view>
