body {
	font-family: 'fira_sansregular';
	font-size: 14px;
}

img.logo {
	display: block;
	width: 70%;
	max-width: 295px;
	margin: 30px auto;
	z-index: 10;
}
div.tex-center {
	h2 {
		font-weight: lighter;
		color: #666;
		font-size: 2.3em;
		text-align: center;
		margin: 0;
	}
}
.burbujas {
	height: 84px;
	background: url('../img/burbujas.png') repeat-x;
	z-index: 5;
}
.bar-footer {
	display: inline-table;
	padding: 0px;
	font-family: 'fira_sansmedium';
	.burbujas {
		margin-top: -42px;
	}
	.button {
		border-radius: 0px;
		font-size: 1.375em;
		margin: 0px;
		padding: 20px 0px;
		.ico-facebook:before {
			font-size: 30px;
			margin: 0 10px 0 0;
		}
	}
	.button-positive { background-color: #2A4588; }
	.row {
		padding: 0;
		.col {
			padding: 2px 0 0 0;
			.button-calm { margin-right: 1px; }
			.button-balanced { margin-left: 1px; }
		}
	}
}
.row-center, .col-center { padding: 0; }

.bar .title.title-left { color: #004C9E;}

$registro: #80A3CD;

.form {
	position: relative;
	.formulario {
		width: 100%;
		position: fixed;
		bottom: 74px;
	}
	form.list {		
		background-color: $positive;
		padding-top: 38px;
		padding-bottom: 120px;
		input, label {
			background-color: $positive;
			border: none;
			color: $light;
			width: 80%;
			min-width: 270px;
			margin: 0 auto;
			padding: 0;
			font-family: 'fira_sansregular';
			padding-bottom: 10px;
		}
		input {
			border-bottom: 1px solid $light;
			width: 100%;
			font-size: 1.21em;
		}
		span {
			color: $registro;
			text-align: left;
			padding-bottom: 5px;
			font-size: 0.9em;
			text-transform: uppercase 
		}
		input::-webkit-input-placeholder { color: $registro; }
		a {
			display: block;
			width: 180px;
			margin: 8px auto 25px;
			color: $light;
			text-decoration: none;
		}
		p {
			color: $light;
			text-align: center;
			margin-bottom: 20px;
		}
		h2 {
			text-align: center;
			color: $registro;
			font-size: 1.67em;
		}
	}
}
.menu.scroll-content {
	background-color: $calm;
}
.menu {
	.item-complex .item-content, {
		background-color: $calm;
		padding: 18px 15px 19px 16px;
		padding-left: 70px;
	}
	.item {		
		color: $light;
		background-color: $calm;
		border: none;
		a { font-family: 'fira_sansmedium'; }
		.icon {
			font-size: 1.55em;
		}
	}
	.cerrar {
		font-family: 'fira_sansmedium';
		margin-left: 25px;
		padding-left: 70px;
	}
	.item-complex.item-icon-left { padding-left: 25px; }
	.item-avatar {
		padding: 110px 16px 29px 16px;
		img:first-child {
			display: block;
			max-width: 62px;
			max-height: 62px;
			border: 2px solid #348800;
			left: 22px;
			top: 90px;
		}
		h2 {
			color: $light;
			font-family: 'fira_sansmedium';
			font-size: 1.1em;
			margin-left: 75px;
		}
	}
	.badge.badge-dark {
		background-color: #2E7300;
		padding: 3px 8px 3px 8px;
		border-radius: 20px;
		right: 22px;
	}
	.item .item-content.activated { background-color: $calm; }
}
.item .item-content.activated {
	background-color: $light;
}
.scroll-content, .scroll.padding { background-color: $stable; }
.inicio.overflow-scroll {
	background-color: $light;
	overflow-y: hidden;
}
.ico-flechader:before { font-size: 23px; }

p {
	color: #666;
	font-family: 'fira_sansregular';
}

.lista {
	padding-bottom: 60px;
	margin: 10px;
	.item {
		border: none;
		padding-bottom: 3px;
		background-color: $stable;
	}
	a{
		font-family: 'fira_sansmedium';
		h2 { color: #333; }
		h3{
			font-family: 'fira_sansmedium';
			color: #76A900;
			font-size: 1.1em;
		}
	}
	.item-options {
		background-color: #378413;
		height: 97%;
		.light{
			background-color: #378413;
		}
		.button {
			padding: 0;
			color: $light;
			min-width: 47px;
			.icon {
				width: 47px;
				right: 0;
			}
			.icon:before {
				font-size: 47px;
			}
			div {
				font-size: 28px;
			}
		}
		.menos { margin: 0 35px 0 5px; }
		.mas { margin: 0 5px 0 35px; }
	}
}

.productos {
	position: relative;
	.imagen {
		position: absolute;
		width: 78px;
	    top: 50%;
	    left: 10px;
	    margin-top: -38px;
	    border: 1px solid #E9E9E9;
		img {
			display: block;
			width: 76px;
		}
	}
	.badge {
		right: auto;
		top: -4px;
		left: 66px;
	}
}
.tabs .tab-item .badge.badge-dark, .badge.badge-dark,
.tabs.tabs-light .tab-item .badge, .tabs-light > .tabs .tab-item .badge {
	background-color: #DB0000;
	opacity: 1;
}
.badge {
	background-color: #DB0000;
	padding: 0px 4px 0px 6px;
	min-width: 19px;
	min-height:19px;
	font-family: 'fira_sansmedium';
	line-height: 18px;	
	font-weight: normal;
}
.tab-item .badge { font-size: 100%; }
.categorias {
	.item {}
}
.servicios {
	.item {}
	.item-options { height: 97%; }
	.item .badge {
		padding: 0px 5px;
		display: inline-block;
		position: relative;
		top: -1px;
		right: 0;
	}
}
.promocion {
	margin: 13px;
	.item { border: none;}
}
.vista {
	margin: 10px;
	box-shadow: 0 0 0;
	border-radius: 0px;
	background-color: $light;
	h1 {
		font-family: 'fira_sansmedium';
		text-align: center;
		color: #333;
		font-size: 1.6em;
		margin-top: 10px;
		margin-bottom: 3px;
		padding-top: 19px;
	}
	p { text-align: center; }
	.img {
		background-color: $stable;
		width: 100%;
		padding: 10px 0;
		text-align: center;
		margin-top: 17px;
		img {
			display: inline-block;
			max-height: 200px;
		}		
	}
	.contenedor {
		position: relative;
		background-color: #FBFBFB;
		padding: 15px 0;
		color: #2E7300;
		height: 79px;
		h3 {
			display: inline-block;
			position: absolute;
			left: 0;
			color: $light;
			background-color: #298CE8;
			font-family: 'fira_sansmedium';
			font-size: 2em;
			padding: 7px 18px;
		}
		.contador {
			position: absolute;
			right: 0;
			font-size: 2em;
			.icon { 
				display: inline-block;
				font-size: 49px;
			}
			.ico-mas { margin-right: 38px; }
			.ico-menos { margin-right: 10px; }
			span {
				position: absolute;
				top: 14px;
				left: 64px;
			}
		}
	}
	.descripcion {
		padding: 25px 25px 0;
		h3 {
			font-size: 100%;
			margin-bottom: 3px;
		}
		p {
			text-align: left;
			margin-bottom: 22px;
		}
	}
}
.bar { background-image: none; }
.carrito {
	color: $light;
	background-color: $calm;
	.button { padding: 10px 0px; }
	.icono { background-color: #378413; }
	.col.suma {
		font-family: 'fira_sansregular';
		font-size: 1.25em;
		padding-left: 23px;
		span { font-family: 'fira_sansmedium'; }
	}
}
.ico-carrito:before {
	color: $light;
	font-size: 27px !important;
}
.bottom {
	bottom: 75px;
}
.contcarro {	
	.carro {
		background-color: $light;
		padding: 10px;
		margin-bottom: 0;		
		.item {
			position: relative;
			border: none;
			margin-bottom: 3px;
			padding-bottom: 8px;
			padding-right:  8px;
			padding-top: 16px;
			font-family: 'fira_sansmedium';
			min-height: 100px;
			background-color: #FAFAFA;
			h2 { color: #333; }
			.contenedor {
				color: #2E7300;
				position: relative;
				height: 35px;
				h3{
					display: inline-block;
					color: #76A900;
					font-size: 1.1em;
				}
				.contador {
					position: absolute;
					top: 0;
					right: 0;
					font-size: 1.5em;
					.icon { 
						display: inline-block;
						font-size: 35px;
					}
					.ico-mas { margin-right: 30px; }
					.ico-menos {  }
					span {
						position: absolute;
						top: 7px;
						left: 47px;
					}
				}
			}
		}
	}	
}
.card.totales {
	margin: 0 0 0 0;
	padding: 5px 15px;
	width: auto;
	box-shadow: none;
	font-family: 'fira_sansmedium';
	font-size: 1.2em;
	.numero {
		font-family: 'fira_sansregular';
		text-align: right;
	}
}
.cancelar {
	font-family: 'fira_sansmedium';
	font-size: 1.3em;
	display: inline-block;
	margin: 22px auto;
}
.has-tabs-top {
    top: 125px;
}
.tabs-top > .tabs, .tabs.tabs-top {
	border-bottom-width: 0px;	
}
.tab-nav {	
	a {
		border-top: 1px solid;
		border-bottom: 1px solid;
		border-left: 1px solid;
		height: 48px;
	}
	a.aIni {
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
	}
	a.aFin {
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
		border-right: 1px solid;
	}
	.tab-item .badge{
		right: calc(30% - 26px);
		top: 13px;
	}	
}
.tabs-striped.tabs-light .tabs {
	background-color: #F8F8F8;
	padding: 17px 0 17px;
	height: 80px;
}
.tabs-striped.tabs-light .tab-item {
	color: #52B1ED;
	background-color: #F6F6F6;
}
.tabs-striped.tabs-light .tab-item.tab-item-active,
.tabs-top.tabs-striped .tab-item.activated {
	color: $light;
	background-color: #52B1ED;
	border-color: #52B1ED;
	margin-top: 0;
	border: none;
}
.tabs-top > .tabs .tab-item.tab-item-active .badge,
.tabs-top > .tabs .tab-item.activated .badge {
	top: 15px;
}
.orden {
	padding: 10px;
	font-family: 'fira_sansregular';
	color: #333;
	.titulo {
		font-family: 'fira_sansmedium';
		font-size: 1.3em;		
		text-align: center;
		background-color: #E5E5E5;
		padding: 20px 0;
	}
	form{
		.list { margin-bottom: 0;}
		.card {
			margin: 0;
			padding: 5px 15px;
			width: auto;
			box-shadow: none;
			font-family: 'fira_sansmedium';
			font-size: 1.2em;
			.numero {
				font-family: 'fira_sansregular';
				text-align: right;
			}
		}
		label.item-checkbox {
			border: none;
			font-size: 1.1em;
			
			div span{
				color: #666;
			}
		}
	}
	.item {
		margin: -5px 0;
		border-right: none;
		border-left: none;
		.item-input { padding: 6px 14px 5px 14px; }
		.der { padding: 6px 14px 5px 7px; }
		.izq { padding: 6px 7px 5px 14px; }
		span {
			color: #BABABA;
			font-size: 1em;
		}
		input[type="text"] {
			font-size: 1.2em;
			height: auto;
		}
		input[disabled]{ background-color: $light; }
		.icon {
			color: #666;
			font-size: 26px;
		}
	}
}
.titulos {	
	text-align: center;
	padding: 17px 0;
	h3 {
		color: #00338A;
		font-family: 'fira_sansmedium';
		font-size: 1.4em;
		margin-bottom: 2px;
	}
	p{
		color: $light;
		margin: 0;
	}
}
.acerca {
	padding: 30px 15px;
	.titulo {
		background: url('../img/acerca.png') no-repeat bottom right;
		background-color: #3DA0EB;
		@extend .titulos;
	}
	.descripcion {
		background-color: $light;
		padding: 38px 25px;
		p{margin-bottom: 20px;}
	}
}
.historial-ord, .ord-en-proceso {
	padding: 30px 15px;
	.titulo {
		background: url('../img/historial.png') no-repeat bottom right;
		background-color: #3DA0EB;
		@extend .titulos;
	}
	.list {
		.item {
			border: none;
			margin: -1px 0 3px 0;
		}
		h3{
			font-family: 'fira_sansmedium';
			font-size: 1.2em;
			color: #399100;
		}
	}
}
.ord-en-proceso {
	.titulo {
		background: url('../img/proceso.png') no-repeat bottom right;
		background-color: #3DA0EB;
	}
}
.has-header.has-subheader.has-tabs-top.estado-orden {
	top: 94px;
}
.estado-orden {
	padding: 15px 10px 10px;
	background-color: #f8f8f8;
	h2 {
		font-family: 'fira_sansmedium';
		background-color: #1376E5;
		color: $light;
		font-size: 1.4em;
		padding: 19px 21px;
		margin-bottom: 0;
		span { font-family: 'fira_sansregular'; }
	}
	.confirmacion {
		background: url('../img/carita.png') no-repeat center center;
		background-color: #FFDB14;
		height: 215px;
		text-align: center;
		h3 {
			display: inline-block;
			color: #E65C00;
			font-size: 1.6em;
			font-family: 'fira_sansmedium';
			margin-top: 92px;
			margin-bottom: 8px;
		}
		span {
			display: block;
			color: #FF9933;
			font-size: 1.2em;
			padding: 0 5px;
		}
	}
	.estado {
		text-align: center;
		background-color: $light;
		padding-bottom: 30px;
		h3 {
			display: inline-block;
			color: #666;
			font-family: 'fira_sansmedium';
			font-size: 1.3em;
			margin-top: 50px;
			margin-bottom: 18px;
		}
		.list {
			width: 90%;
			max-width: 350px;
			margin: 0 auto 30px;
			border-radius: 10px;
			.item:first-child {
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}
			.item:last-child {
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}
			.item {
				border-color: #E3E3E3;
				color: #E1E1E1;
				font-size: 1.2em;
			}
			.item.activated {
				background-color: $calm;
				color: $light;
				font-family: 'fira_sansmedium';
			}
		}
	}
}
.historial-inf-ord {
	padding:  20px 15px 15px;
	.titulos {
		text-align: center;
		font-family: 'fira_sansmedium';
		padding: 0;
		h2 {
			background-color: $calm;
			color: $light;
			font-size: 1.4em;
			padding: 17px 0;
			margin: 0;
		}
		h3 {
			background-color: #E5E5E5;
			color: #333333;
			font-size: 1.3em;
			padding: 20px 0;
			margin: 0;
		}
	}
	.list {
		margin: 0;
		padding: 0;
		.item {
			border: none;
			margin: 0px;
			border-bottom: 1px solid #E5E5E5;
			padding-bottom: 0;
			.input-label {
				color: #666666;
				opacity: 0.6;
				font-size: 1em;
			}
			input[disabled] {
				background-color: $light;
				color: #333333;
				font-size: 1.2em;
				height: auto;
			}
		}
	}
	.list-orden {
		background-color: $light;
		padding: 10px;
		.item {
			position: relative;
			background-color: #FAFAFA;
			border: none;
			margin-bottom: 3px;
			padding: 12px;
			min-height: 87px;
			img {
				width: 67px;
				height: 67px;
				border: 1px solid #E9E9E9;
			}
			h2 {
				font-family: 'fira_sansmedium';
				color: #333333;
				font-size: 1.1em;
				padding-top: 3px;
			}
			h3 {
				font-family: 'fira_sansmedium';
				color: #76A900;
				font-size: 1.1em;
			}
			.cantidad {
				position: absolute;
				top: 50%;
				margin-top: -15px;
				right: 15px;
				height: 30px;
				width: 30px;
				background-color: #E9E9E9;
				color: #333333;
				font-size: 1.1em;
				text-align: center;
				line-height: 30px;
			}
		}
		.item-thumbnail-left {
			padding: 12px 12px 12px 104px;
			
		}
		.card.totales {
			padding: 12px 15px;
		}
	}
}
.perfil {
	padding:  20px 15px 15px;
	.imagen {
		background-color: $light;
		padding: 30px 0;
		text-align: center;
		border-bottom: 1px solid #E5E5E5;
		img{ display: inline-block; }		
	}
	.list {
		margin-top: -1px;
		.item {
			border: none;
			margin: 0px;
			border-bottom: 1px solid #E5E5E5;
			padding-bottom: 0;
			.input-label {
				color: #666666;
				opacity: 0.6;
				font-size: 1em;				
			}
			.input-label.contrasena { font-size: 1.2em; }
			input {
				color: #333333;
				font-size: 1.2em;
				height: auto;
			}
			.ico-flechaabajo {
				color: #666666;
				font-size: 1.5em;
			}

		}

	}
}