<ion-view title="Ingresar">
	
	<img class="logo" ng-src="img/logo.svg" />

	<div class="bar bar-footer auto">
		<ion-content class="form">
			<div class="formulario">
				<img class="burbujas" ng-src="img/burbujas.svg" />
				<form class="list">
					 <div class="list">
						<label class="item item-input item-floating-label" name="email">
							<span class="input-label">Correo Electrónico</span>
							<input type="text" placeholder="CORREO ELECTRÓNICO" ng-model="user.email">
						</label>
						<label class="item item-input item-floating-label" name="contrasena">
							<span class="input-label">Contraseña</span>
							<input type="password" placeholder="CONTRASEÑA" ng-model="user.password">
						</label>
					</div>
					<a ui-sref="autenticacion.recuperar-contrasena">¿Olvidaste tu contraseña?</a>
				</form>
			</div>
		</ion-content>
		<a class="button button-calm button-full" ng-click="login()">INGRESAR</a>
	</div>
</ion-view>