<ion-view title="">
    <ion-content class="has-footer" overflow-scroll="true" padding="true" scroll="false" >
        <elemento-centrado height-percent="30">
            <icono-empresa height="xpx"> </icono-empresa> 
            <h4>CleanSuit</h4>
        </elemento-centrado>

        <elemento-centrado height-percent="50">
            <p>Ingrese su correo electrónico y contraseña<br>para ingresar</p>
            <form class="list">
                 <ion-list>
                    <label class="item item-input" name="email">
                        <input type="text" placeholder="Correo Electrónico">
                    </label>
                    <label class="item item-input" name="contrasena">
                        <input type="password" placeholder="Contraseña">
                    </label>
                </ion-list>
                <div>
                    <a href="#/autenticacion/recuperar-contrasena">
                        ¿Olvidaste tu Contraseña?
                    </a>
                </div>
            </form>
        </elemento-centrado>

    </ion-content>
    <ion-footer-bar>
        <a href="#app/inicio" class="button button-positive button-full">INGRESAR</a>
    </ion-footer-bar>
</ion-view>