<ion-view title="">
    <ion-content class="has-footer" overflow-scroll="true" padding="false" scroll="false" >

        <elemento-centrado height-percent="30">
            <icono-empresa height="xpx"> </icono-empresa> 
            <h4>CleanSuit</h4>
        </elemento-centrado>
            
        <elemento-centrado height-percent="50">
            <h2>Con CleanSuit<br />olvídate de pasar tiempo<br />para estar pendiente<br />de tu lavadora</h2>
        </elemento-centrado>
    </ion-content>

    <ion-footer-bar>
        <a href="#app/inicio" class="button button-block button-positive">
            <i class="icon ion-social-facebook"></i>
            CONECTARSE CON FACEBOOK
        </a>
        
        <div class="row">
            <div class="col">
                <a href="#/autenticacion/ingresar-manual" class="button button-positive button-full">
                    INGRESAR
                </a>
            </div>
            <div class="col">
                <a href="#/autenticacion/registrar-manual" class="button button-positive button-full">
                    REGISTRARSE
                </a>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>