<ion-view title=""  >
    <ion-content class="inicio">

        <div class="tex-center">
            <img class="logoinicio" ng-src="img/logo.svg" />            
        </div>
        <elemento-centrado height-percent="25" class="tex-center">
            <h2>Con CleanSuit<br />olvídate de pasar tiempo<br />para estar pendiente<br />de tu lavadora</h2>
        </elemento-centrado>
    </ion-content>

    <ion-footer-bar>
        <img class="burbujas" ng-src="img/burbujas.svg" />
        <a class="button button-block button-positive" ng-click="facebookSignIn()">
            <i class="icon ico-facebook"></i>
            CONECTARSE CON FACEBOOK
        </a>
        
        <div class="row">
            <div class="col">
                <a ui-sref="autenticacion.ingresar-manual" class="button button-calm button-full">
                    INGRESAR
                </a>
            </div>
            <div class="col">
                <a ui-sref="autenticacion.registrar-manual" class="button button-balanced button-full">
                    REGISTRARME
                </a>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>