<ion-view title="">
    <ion-content class="has-footer" overflow-scroll="true" padding="true" scroll="false">
        <elemento-centrado height-percent="60">
            <h2>
                <b>¿No recuerdas tu contraseña?</b><br><b>¡No te precoupes!</b>
            </h2>
            <p>Escribe tu correo electrónico y te haremos<br>llegar la forma para recuperarla.</p>
            <br/>
            <form class="list">
                <ion-list>
                    <label class="item item-input">
                        <input type="email" placeholder="Correo electrónico">
                    </label>
                </ion-list>
            </form>
        </elemento-centrado>
                 
    </ion-content>
    
    <ion-footer-bar>
        <a ui-sref="autenticacion.inicio" class="button button-positive button-full">ENVIAR</a>
    </ion-footer-bar>
</ion-view>