<ion-view title="Restablecer contraseña" class="autenticacion">
	<img class="logo" ng-src="img/logo.svg" />	
	
	<div class="bar bar-footer">
		<ion-content class="form">
			<div class="formulario">
				<img class="burbujas" ng-src="img/burbujas.svg" />
				<form name="formRecuperarContrasena" novalidate>
					<h2>¿No recuerdas tu contraseña?<br>¡No te precoupes!</h2>
					<p>
						Escribe tu correo electrónico y te enviaremos<br>información para recuperar tu contraseña
					</p>
					<ion-list>
						<ion-item>
							<label class="item-input item-floating-label">
								<span class="input-label">Correo Electrónico</span>
								<input type="email" name="correo" ng-model="usuario.email" placeholder="CORREO ELECTRÓNICO" maxlength="320" ng-minlength="6" ng-maxlength="320" required>
							</label>
						</ion-item>
					</ion-list>
					<div ng-hide="true"> 
						{{form.valido = formRecuperarContrasena.correo.$valid}}
					</div>
				</form>
			</div>
		</ion-content>

		<a ng-click="enviar()" class="button button-calm button-full sombra" ng-disabled="!form.valido">
			ENVIAR
		</a>
	</div>
</ion-view>