<ion-view title="Restablecer contraseña">
	<img class="logo" ng-src="img/logo.svg" />	
	
	<div class="bar bar-footer">
		<ion-content class="form">
			<div class="formulario">
				<img class="burbujas" ng-src="img/burbujas.svg" />
				<form class="list" name="formRecuperarContrasena">
					<h2>¿No recuerdas tu contraseña?<br>¡No te precoupes!</h2>
					<p>
						Escribe tu correo electrónico y te enviaremos<br>información para recuperar tu contraseña
					</p>
					<div class="list">
						<label class="item item-input item-floating-label">
							<span class="input-label">Correo Electrónico</span>
							<input type="email" ng-model="formData.email" placeholder="CORREO ELECTRÓNICO" maxlength="320" ng-minlength="6" ng-maxlength="320">
						</label>
					</div>
					<div ng-hide="true">
					{{formValido = formRecuperarContrasena.correo.$valid}}
				</form>
			</div>
		</ion-content>
		<a ng-click="enviar()" class="button button-calm button-full" ng-disabled="!formValido">
			ENVIAR
			<div class="sombra-balanced"></div>
		</a>
	</div>
</ion-view>