<ion-view title="Registrarme">
    <ion-content>
            
        <img class="logo" ng-src="../../img/logo.svg" />

        <div class="formulario">
            <!--<p>Ingrese los siguientes datos<br>para registrarse</p>-->
            <div class="burbujas"></div>
            <form class="list">
                <div class="list">
                    <label class="item item-input item-floating-label" name="Nombre Completo">
                        <span class="input-label">Nombre Completo</span>
                        <input type="text" placeholder="NOMBRE COMPLETO">
                    </label>
                    <label class="item item-input item-floating-label" name="email">
                        <span class="input-label">Correo Electrónico</span>
                        <input type="text" placeholder="CORREO ELECTRÓNICO">
                    </label>
                    <label class="item item-input item-floating-label" name="contrasena">
                        <span class="input-label">Contraseña</span>
                        <input type="password" placeholder="CONTRASEÑA">
                    </label>
                </div>
            </form>
        </div>

    </ion-content>
    
    <div class="bar bar-footer">
        <a href="#/app/inicio" class="button button-balanced button-full">REGISTRARME</a>
    </div>
</ion-view>