<ion-view title="Registrarme">
	<img class="logo" ng-src="img/logo.svg" />
		
	<div class="bar bar-footer">
		<ion-content class="form">
			<div class="formulario">
				<!--<p>Ingrese los siguientes datos<br>para registrarse</p>-->
				<img class="burbujas" ng-src="img/burbujas.svg" />
				<form class="list">
					<div class="list">
						<label class="item item-input item-floating-label" name="Nombre Completo">
							<span class="input-label">Nombre y Apellidos</span>
							<input type="text" placeholder="NOMBRE Y APELLIDOS" ng-model="usuario.nombre">
						</label>
						<label class="item item-input item-floating-label" name="email">
							<span class="input-label">Correo Electrónico</span>
							<input type="text" placeholder="CORREO ELECTRÓNICO" ng-model="usuario.correo">
						</label>
						<label class="item item-input item-floating-label" name="contrasena">
							<span class="input-label">Contraseña</span>
							<input type="password" placeholder="CONTRASEÑA" ng-model="usuario.contrasena">
						</label>
					</div>
				</form>
			</div>
		</ion-content>
		
		<a class="button button-balanced button-full" ng-click="registrar()">
			REGISTRARME
			<div class="sombra-balanced"></div>
		</a>
	</div>
</ion-view>