<ion-view title="CleanSuit">
	<ion-content class="historial-ord">
		<div class="titulo">
			<h3>Historial de órdenes</h3>
			<p>Este es tu historial de órdenes realizadas<br/>hasta el momento.</p>
		</div>

		<div class="list">
			<ion-item class="item-icon-right" ng-repeat="orden in ordenes track by $index" 
					ui-sref="app.historial-orden({'indexOrden': {{$index}}})">
				<h3>{{orden.fecha}}</h3>
				<p>{{orden.titulo}} {{orden.estado}}</p>
				<p># de orden: {{orden.codigo}}</p>
				<i class="icon ico-flechader assertive" ></i>
			</ion-item>
		</div>

	</ion-content>
</ion-view>
