<ion-view title="CleanSuit">
	<ion-content class="historial-inf-ord">
		<div class="titulos">
			<h2>PEDIDO {{ordenHistorica.estado | uppercase}}</h2>
			<h3>INFORMACIÓN DE ORDEN</h3>
		</div>

		<div class="list">
			<div class="item row">
				<div class="col">
					<label class="item-input item-stacked-label">
						<span class="input-label">Nombre</span>
						<input type="text" placeholder="su nombre" value=" {{ordenHistorica.orden.usuario.nombre}} " disabled>
					</label>
				</div>
				<div class="col">
					<label class="item-input item-stacked-label">
						<span class="input-label">Apellidos</span>
						<input type="text" placeholder="sus apellidos" value=" {{ordenHistorica.orden.usuario.apellidos}} " disabled>
					</label>
				</div>
			</div>

			<div class="item row">
				<div class="col">
					<label class="item-input item-stacked-label">
						<span class="input-label">Departamento</span>
						<input type="text" placeholder="departamento" value=" {{ordenHistorica.orden.usuario.direccion.departamento}} " disabled>
					</label>
				</div>
				<div class="col">
					<label class="item-input item-stacked-label">
						<span class="input-label">Ciudad</span>
						<input type="text" placeholder="ciudad" value=" {{ordenHistorica.orden.usuario.direccion.ciudad}} " disabled>
					</label>
				</div>
			</div>

			<div class="item row" ng-hide="soloProductos">
				<div class="col">
					<label class="item-input item-stacked-label">
						<span class="input-label item-icon-right">Dirección de Recolección de Prendas</span>
						<input type="text" placeholder="su dirección" value=" {{ordenHistorica.orden.direccionRecoleccion.direccion}} " disabled>
					</label>
				</div>
			</div> 


			<div class="item row" ng-hide="soloProductos">
				<div class="col">
					<label class="item-input item-stacked-label">
						<span class="input-label item-icon-right">Hora de Recolección de Prendas</span>
						<input type="text" placeholder="hora de recolección" value=" {{ordenHistorica.orden.direccionRecoleccion.hora}} " disabled>
					</label>
				</div>
			</div> 


			<div class="item row">
				<div class="col">
					<label class="item-input item-stacked-label">
						<span class="input-label item-icon-right">Dirección de Entrega</span>
						<input type="text" placeholder="dirección de entrega" value=" {{ordenHistorica.orden.direccionEntrega.direccion}} " disabled>
					</label>
				</div>
			</div> 


			<div class="item row" ng-hide="soloProductos">
				<div class="col">
					<label class="item-input item-stacked-label">
						<span class="input-label item-icon-right">Hora de Entrega</span>
						<input type="text" placeholder="hora de entrega" value=" {{ordenHistorica.orden.direccionRecoleccion.hora}} " disabled>
					</label>
				</div>
			</div> 



			<div class="item row">
				<div class="col">
					<label class="item-input item-stacked-label">
						<span class="input-label item-icon-right">Teléfono de contacto</span>
						<input type="text" placeholder="su teléfono" value=" {{ordenHistorica.orden.usuario.telefono}} " disabled>
					</label>
				</div>
			</div>

			<div class="item row">
				<div class="col">
					<label class="item-input item-stacked-label">
						<span class="input-label item-icon-right">Forma de Pago</span>
						<input type="text" placeholder="forma de pago" value=" {{ordenHistorica.orden.formaPago}} " disabled >
					</label>
				</div>
			</div>
		</div>

		<div class="list-orden">    
			<div class="item" ng-repeat="item in ordenHistorica.items" ng-class="{'item-thumbnail-left': item.tipo=='PRODUCTO'}">

				<img ng-src="img/producto-detalle1.png" ng-show="item.tipo=='PRODUCTO'"/>
				<h2>{{item.nombre}}</h2>
				<p ng-show="item.tipo=='SERVICIO'">{{item.categoria}}</p>
				<h3>{{item.precio | currency : "$ ": 0}}</h3>
				<div class="cantidad">
			  		{{item.cantidad || 0}}
				</div>
			</div>
			<resumen-totales totales="ordenHistorica.totales"></resumen-totales>   
		</div>		

	</ion-content>

</ion-view>
