<ion-view title="Cleansuit">
	<ion-content class="pdBoton contcarro">
		<div class="list carro">
			<div class="item" ng-repeat="item in carrito.items"
				ng-class="{'item-thumbnail-left' : item.tipo=='PRODUCTO'}">
				<div class="img">
					<img ng-src="img/producto-detalle1.png" ng-show="item.tipo=='PRODUCTO'"/>
				</div>
				<h2>{{item.nombre}}</h2>
				<p ng-show="item.tipo=='SERVICIO'">{{item.categoria}}</p>
				<h3>{{item.precio || 0  | currency : "$ " : 0 }}</h3>				
					
				<div class="contador">
					<i ng-click="item.tipo=='PRODUCTO' ? aumentarProducto(item) : aumentarServicio(item)" class="icon ico-mas"></i>
					<span>{{item.cantidad || 0}}</span>
					<i ng-click="item.tipo=='PRODUCTO' ? disminuirProducto(item) : disminuirServicio(item)" class="icon ico-menos"></i>
				</div>
			</div>
		</div>

		<resumen-totales totales="carrito.totales" ng-show="carrito.hayItems()"></resumen-totales>

		<div clas="card" ng-hide="carrito.hayItems()">
			<div class="item item-text-wrap">
				No hay Items en el carrito de compra.
			</div>
		</div>

		<elemento-centrado>
			<a ng-click="cancelarOrden()" class=" cancelar positive" ng-show="carrito.hayItems()"> Cancelar Orden</a>
		</elemento-centrado>
	
	</ion-content>

	<div class="bar bar-footer">
		<a ui-sref="app.informacion-orden" class="button button-calm button-full" ng-disabled="carrito.contProductos + carrito.contServicios == 0"> 
			SIGUIENTE
		</a>
	</div>

</ion-view>
