<ion-view title="Cleansuit">
  <ion-content class="has-footer" padding="true" >
	<ion-list can-swipe="false" show-delete="false" show-reorder="false">
	  
		<ion-item ng-repeat="item in carrito.items"
		  class="item fondo-gris"
		  ng-class="{'item-thumbnail-left' : item.tipo=='PRODUCTO'}">

			<img ng-src="img/producto.png" ng-show="item.tipo=='PRODUCTO'"/>

			<div class="row"><h2>{{item.nombre}}</h2></div>

			<div class="row">
				<div class="col">
					<h2>{{item.precio || 0  | currency : "$ " : 0 }}</h2>
			  	</div>
			  
			  	<div class="col col-offset-25">
				  	<div class="row text-center">
						<div class="col fuente-2 text-center col-center" >
					  		<i ng-click="item.tipo=='PRODUCTO' ? disminuirProducto(item) : disminuirServicio(item)" class="icon ion-minus-circled positive"></i>
					  	</div>
					  	<div class="col col-center text-center fondo-gris-claro">
					  		{{item.cantidad || 0}}
					  	</div>
					  	<div class="col fuente-2 text-center col-center">
					  		<i ng-click="item.tipo=='PRODUCTO' ? aumentarProducto(item) : aumentarServicio(item)" class="icon ion-plus-circled positive "></i>
					  	</div>  
					  	  
					</div>
				</div>
			</div>
		</ion-item>
	</ion-list>

	<resumen-totales totales="carrito.totales" ng-show="carrito.hayItems()"></resumen-totales>

	<div clas="card" ng-hide="carrito.hayItems()">
		<div class="item item-text-wrap">
			No hay Items en el carrito de compra.
		</div>
	</div>

	<elemento-centrado>
	  <a ng-click="cancelarOrden()" class="positive" ng-show="carrito.hayItems()">- Cancelar Orden -</a>
	</elemento-centrado>

	<br/>
	<br/>
	
	</ion-content>

	<ion-footer-bar>
		<a href="#/app/informacion-orden" class="button button-positive button-full" ng-disabled="carrito.contProductos + carrito.contServicios == 0"> 
		  SIGUIENTE
		</a>
	</ion-footer-bar>

</ion-view>
