<ion-view title="Cleansuit">
	<ion-content class="pdBoton orden">
		<div class="titulo">
			INFORMACIÓN DE ORDEN
		</div> 
		<form name="formInformacionOrden"> 
			<div class="list">
				<div class="item row">
					<div class="col">
						<label class="item-input item-stacked-label izq">
							<span class="input-label">Nombres y Apellidos</span>
							<input type="text" placeholder="su nombres y Apellidos" value=" {{usuario.nombre}} " disabled>
						</label>
					</div>
				
					<!--<div class="col">
						<label class="item-input item-stacked-label der">
							<span class="input-label">Apellidos</span>
							<input type="text" placeholder="sus apellidos" value=" {{usuario.apellidos}} " disabled>
						</label>
					</div>
					-->
				</div>

				<!--<div class="item row">
					<div class="col">
						<label class="item-input item-stacked-label izq">
							<span class="input-label">Departamento</span>
							<input type="text" placeholder="departamento" value=" {{usuario.direccion.departamento}} " disabled>
						</label>
					</div>

					<div class="col">
						<label class="item-input item-stacked-label der">
							<span class="input-label">Ciudad</span>
							<input type="text" placeholder="ciudad" value=" {{usuario.direccion.ciudad}} " disabled>
						</label>
					</div>
				</div>
				-->

				<div class="item row" ng-hide="soloProductos">
					<div class="col item-icon-right">
						<label class="item-input item-stacked-label">
							<span class="input-label item-icon-right">Dirección de Recolección</span>
							<input type="text" placeholder="su dirección" ng-model="orden.recoleccion.direccion" maxlength="100" ng-minlength="8" ng-maxlength="100">
						</label>
						<i class="icon ion-location" ng-click="openModal('DIRECCIONRECOLECCION')"></i>
					</div>
				</div>

				<div class="item row" ng-hide="soloProductos">
					<div class="col item-icon-right">
						<label class="item-input item-stacked-label">
							<span class="input-label item-icon-right">Fecha de Recolección</span>
							<input type="date" placeholder="Fecha de recolección" ng-model="orden.recoleccion.fecha"  required>
						</label>
						<i class="icon ico-flechaabajo" ng-click="openPopover('FECHARECOLECCION', $event)"></i>
					</div>
				</div>

				<div class="item row" ng-hide="soloProductos">
					<div class="col item-icon-right">
						<label class="item-input item-stacked-label">
							<span class="input-label item-icon-right">Hora de Recolección</span>
							<input type="text" placeholder="hora de recolección" ng-model="orden.recoleccion.hora" ng-disabled="true" required>
						</label>
						<i class="icon ico-flechaabajo" ng-click="openPopover('HORARECOLECCION', $event)"></i>
					</div>
				</div>

				<div class="item row">
					<div class="col item-icon-right">
						<label class="item-input item-stacked-label">
							<span class="input-label item-icon-right">Dirección de Entrega</span>
							<input type="text" placeholder="dirección de entrega" ng-model="orden.entrega.direccion" maxlength="100" ng-minlength="8" ng-maxlength="100">
						</label>
						<i class="icon ion-location" ng-click="openModal('DIRECCIONENTREGA')"></i>
					</div>
				</div>

				<div class="item row">
					<div class="col item-icon-right">
						<label class="item-input item-stacked-label">
							<span class="input-label item-icon-right">Fecha de Entrega</span>
							<input type="date" placeholder="Fecha de recolección" ng-model="orden.entrega.fecha" required>
						</label>
						<i class="icon ico-flechaabajo" ng-click="openPopover('FECHAENTREGA', $event)"></i>
					</div>
				</div>

				<div class="item row">
					<div class="col item-icon-right">
						<label class="item-input item-stacked-label">
							<span class="input-label item-icon-right">Hora de Entrega</span>
							<input type="text" placeholder="hora de entrega" ng-model="orden.entrega.hora" ng-disabled="true" required>
						</label>
						<i class="icon ico-flechaabajo" ng-click="openPopover('HORAENTREGA', $event)"></i>
					</div>
				</div>				
				
				<div class="item row">
					<div class="col item-icon-right">
						<label class="item-input item-stacked-label">
							<span class="input-label item-icon-right">Teléfono de contacto</span>
							<input type="tel" placeholder="su teléfono" ng-model="orden.telefono" name="telefono"maxlength="10" ng-minlength="7" ng-maxlength="10">
						</label>
						<i class="icon ion-edit"></i>
					</div>
				</div>

				<div class="item row">
					<div class="col item-icon-right">
						<label class="item-input item-stacked-label">
							<span class="input-label item-icon-right">Forma de Pago</span>
							<input type="text" placeholder="Seleccione" ng-model="orden.formaPago" ng-disabled="true" required>
						</label>
						<i class="icon ico-flechaabajo" ng-click="openPopover('FORMAPAGO',$event)"></i>
					</div>
				</div>
			</div>

			<resumen-totales totales="carrito.totales" ng-show="carrito.hayItems()"></resumen-totales>

			<div class="list">
				<ion-checkbox ng-model="orden.terminosCondiciones" ng-checked="orden.terminosCondiciones" >Acepto los Términos y Condiciones de CleanSuit</ion-checkbox>
			</div>
		</form>

		<elemento-centrado>
			<a ng-click="confirmarCancelarOrden()" class="cancelar positive" ng-show="carrito.hayItems()">Cancelar Orden</a>
		</elemento-centrado>
	</ion-content>

	<div class="bar bar-footer">
		<a ng-click="realizarOrden()" class="button button-calm button-full" ng-disabled="formIncompleto">REALIZAR ORDEN</a>
	</div>

</ion-view>
