<ion-view >
  <ion-content class="has-subheader" scroll="true" padding="false" >
    
    <elemento-centrado>
      <i class="icon ion-happy-outline" style="font-size: 10em"></i>    
      <br /><br />
      <p><b>Hemos recibido tu orden</b></p>
      <br />
      <p>En este momento nuestro personal<br/>organizará tus productos y los recibirás en la direccion suministrada</p>
    </elemento-centrado>


    <elemento-centrado>
        <button class="button button-positive" ui-sref="app.inicio">Regresar a principal</button>
    </elemento-centrado>
    
  </ion-content>
</ion-view>
