img.logoinicio {
	margin: 10px auto 30px;
}
img.logoinicio {
	margin: 30px auto 30px;
}
.tex-center h2 {
	font-size: 1.7em;
	padding: 0 30px;
}
#id-modal-mapa .bar .title.title-left {
	font-size: 1em;
}
