#contenedor-mapa, #id-mapa {
	height:100%;
	margin:0;
}

.scroll {
  height: 100%;
}

#id-mapa .centerMarker {
	display: block;
	width: 30px;
	height: 44px;
	position: absolute;
	z-index: 100;
	top: 50%;
	margin-top: -44px;/*height*/
	left: 50%;
	margin-left: -15px;/*-width/2*/
	background: url("../img/marker.png") no-repeat;
}

.bar .title.title-left {
	color: #fff;
}

/*
.has-header-top {
	top: 124px;
}*/
